.navbar-auto-hide {
  transition: top 0.5s ease-in-out;
  width: 100%;
  z-index: 1030;
  height: 4rem;
  background-color: var(--theme-primary);
}

@media screen and (min-width: 992px) {
    .navbar-auto-hide.show {
        top: 0;
    }

    .navbar-auto-hide.hide {
        top: -4rem;
    }
}

.navbar-logo {
    height: 3rem;
    width: auto;
}

.navbar-collapse {
    background-color: var(--theme-primary);
}

.navbar .dropdown-item {
  background-color: var(--theme-primary) !important;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item.active {
  background-color: var(--theme-primary) !important;
}

.navbar .dropdown-menu {
  background-color: var(--theme-primary) !important;
  margin: 0 !important;
  padding: 0 !important;
}